body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#horario{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgb(0, 195, 255);
    font-size: 20px;
    text-align: center;

}

@keyframes respiracao{
0%   { transform: scale(1); }
50%  { transform: scale(1.04); }
100% { transform: scale(1); }
}

@keyframes tremer{
    0% {translate: 0px 0px;}
    25% {translate: 2px 2px;}
    50% {translate: -2px -2px;}
    75% {translate: 2px -2px;}
    100% {translate: 0px 0px;}
}

@keyframes escorregas{
    0% {transform: scaleY(1.0) translateY(0px);}
    50% {transform: scaleY(1.2) translateY(20px);}
    100% {transform: scaleY(1.0) translateY(0px);}
}

#svgg{
    animation: escorregas 6s infinite;
}

#rosto{
width: 500px;
position: fixed;
top: 20%;
left: 30%;
opacity: 0%;
transition: opacity 2s;
animation: respiracao 4s infinite, tremer 2s infinite;
}

@keyframes maoo{
    0% {transform: translateX(-600px);}
    25% {transform: translateX(-500);}
    50% {transform: translateX(-150px);}
    75% {transform: translateX(150px);}
    100% {transform: translateX(600px);}
}

#tela{
    position: relative;
}

#mao{
width: 750px;
position: absolute;
left: 0px;
animation: maoo 2s forwards;
animation-play-state: paused;
}
