body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#horario{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgb(0, 195, 255);
    font-size: 20px;
    text-align: center;

}